header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  align-items: end;
  border-bottom: 1rem solid rgb(23, 137, 298);
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: rgb(23, 137, 298);
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: rgb(23, 137, 298);
  font-size:
}
