header {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
}

h1 {
  grid-column: 1/span 34;
  margin-left: 1rem;
  color: orange;
}

nav {
  grid-column: 5/ span 18;
}

nav a {
  text-decoration: none;
  color: rgb(243, 3, 3);
  font-size: 22;
}
